<div
    class="card"
    data-popularity="{{likes.length}}"
    data-recent="{{release_time}}"
    data-due="{{application_deadline}}"
>
    {{#if image_url.length}}
      <img
        src="{{image_url.[0]}}"
        class="image"
        alt=""
      >
    {{else}}
      <img
        src="/public/images/No_Image_Available.jpg"
        class="image"
        alt="No Image Available for this event"
      >
    {{/if}}


    <div class="card-body">
    <a class="eventA" href="event/{{_id}}">

    <p class="card-title">{{event_name}}</p></a>

    <p class="card-text">{{description}}</p>

        {{> like_partial }}
    <p>Registration Deadline:&nbsp;<span class="e-date">{{application_deadline}}</span></p>

    </div>

</div>