<main id="events">

  <div id="searchAndFilter">
    <div class="filter">
      <form>
        <label for="filter">Sort By:</label>
        <select name="filter" id="filter" onchange="sortEvent(this.value)">
          <option disabled selected value> -- Select -- </option>
          <option value="popularity">Popularity</option>
          <option value="recent">Most Recent</option>
          <option value="due">Due soon</option>
        </select>
      </form>
    </div>

  </div>

  <div class="event-row-container">
    <div class="row">
      {{#each allEvents}}
        <div
          class="card"
          data-popularity="{{likes}}"
          data-recent="{{release_time}}"
          data-due="{{application_deadline}}"
        >
        <a class="eventA" href="event/{{_id}}">
          {{#if image_url}}
            <img
              src="/public/images/{{image_url}}"
              class="image"
              alt="{{alt}}"
            />
          {{else}}
            <img
              src="/public/images/No_Image_Available.jpg"
              class="image"
              alt="No Image Available for this event"
            />
          {{/if}}
          <div class="card-body">
            <h5 class="card-title">{{event_name}}</h5>
            <p class="card-text">{{description}}</p>
            <p>{{likes.length}}&nbsp;<i
                class="fa fa-heart"
                onclick="likeEvent('{{_id}}')"
              ></i>
            </p>
            <p><span>Registration Deadline:</span>&nbsp;{{application_deadline}}</p>

          </div>
          </a>
        </div>
      {{else}}
        <p class="empty">No content</p>
      {{/each}}
    </div>
  </div>

</main>