<main id="indi-event">
  <div class="event-img">
    <img
      src="/public/images/{{event.image_url}}"
      class="card-img-top"
      alt="{{event.alt}}"
    />
  </div>
  <div class="event-container">
    <div class="host-time">
      <p>{{event.etime}}</p>
    </div>
    <div class="event-title">
      <h1>{{event.event_name}}</h1>
    </div>
    <div class="about-event">
      <p><span><strong>About:</strong>&nbsp;</span>{{event.description}}</p>
    </div>
    {{#if isHost}}
      <div class="event-edit">

        <a href="/event/edit/{{event._id}}">
          <button type="button">EDIT EVENT</button>
        </a>
      </div>
    {{else if user}}
      <div class="event-registeration" id="event-r-btn">
        {{#if isRegistered}}
          <button
            type="submit"
            id="unregister-btn"
            onclick="UnRegisterEvent('{{event_id}}')"
          >
            UNREGISTER
          </button>
        {{else}}
          <button
            type="submit"
            id="register-btn"
            onclick="registerEvent('{{event._id}}')"
          >REGISTER NOW</button>
        {{/if}}
      </div>
    {{else}}
      <div class="login-btn">
        <a href="/login">LOGIN FOR REGISTRATION</a>
      </div>
    {{/if}}
    <div class="event-location">
      <p class="event-sub-title">When and Where</p>
      <div class="time-loc-wrapper">
        <div class="event-time">
          <p>Date and Time</p>
          <p>{{event.host_time}}</p>
        </div>
        <div class="event-loc">
          <p>Location</p>
          <p>
            <span>Address:&nbsp;</span>
            {{event.location.address}}
          </p>
          <p>
            <span>City:&nbsp;</span>
            {{event.location.city}}
          </p>
          <p>
            <span>State:&nbsp;</span>
            {{event.location.state}}
          </p>
          <p>
            <span>ZIP:&nbsp;</span>
            {{event.location.zipcode}}
          </p>
        </div>
      </div>
    </div>
    <div class="event-deadline">
      <p class="event-sub-title">Registration Deadline</p>
      <div class="time-loc-wrapper">
        <div class="event-time">
          <p>Date and Time</p>
          <p>{{event.application_deadline}}</p>
        </div>
      </div>
    </div>
    <div class="event-host">
      <p class="event-sub-title">About the organizer</p>
      <div class="host-deatil">
        <p><span>Host:&nbsp;</span>
          {{event.host_info.host_name}}
        </p>
        <p>
          <span>Contact:&nbsp;</span>
          <a
            href="mailto:{{event.host_info.contact}}"
          >{{event.host_info.contact}}</a>
        </p>
      </div>
    </div>

    {{#if isHost}}
      <div class="volunteer-list">
        <p class="event-sub-title">Volunteer List&nbsp;({{volunteersCount}})</p>
        {{#each volunteerList}}

          <div class="card w-50">
            <div class="card-body">
              <div class="volunteer">
                {{#ifCond first_name "||" last_name}}
                  <h5
                    class="card-title"
                  >Name:&nbsp;{{first_name}}&nbsp;{{last_name}}</h5>
                {{/ifCond}}
                <div class="volunteer-contact">
                  {{#if contact}}
                    <p class="card-text">Contact:&nbsp;{{contact}}</p>
                  {{/if}}
                  {{#if email}}
                    <p class="card-text">Email:&nbsp;{{email}}</p>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>

</main>