<main>
  <div id="home">
    <div id="home-container">
      <p>Be the change you wish to see in the world.</p>
      <p> - Mahatma Gandhi</p>
    </div>
  </div>

  <section class="homepage-events">
    <h1 id="popular">Popular Events</h1>

    <div class="row-container">
      <div class="row">

        {{#each allEvents}}

          <div class="card card-{{@index}}">
            <a class="eventA" href="event/{{_id}}">

              {{#if image_url.length}}
                <img
                  src="/{{image_url.[0]}}"
                  alt=""
                >
              {{else}}
                <img
                  src="/public/images/No_Image_Available.jpg"
                  alt="No Image Available for this event"
                >
              {{/if}}

            </a>
            <div class="card-body">
              <a class="eventA" href="event/{{_id}}">  
              <h2 class="card-title">
             {{event_name}}</h2></a>
              <p class="city-name">{{location.city}}</p>
              <p class="card-text">{{description}}</p>
                {{> like_partial }}
              <p><span>Registration Deadline:</span>&nbsp;{{application_deadline}}</p>

            </div>

          </div>

        {{else}}
          <p class="empty">No content</p>
        {{/each}}

      </div>
      <div id="sliderControls">
        <button
          id="pre"
          class="control-btn"
          onclick="showPreEvent(event)"
        ></button>
        <button
          id="next"
          class="control-btn"
          onclick="showNextEvent(event)"
        ></button>
      </div>
    </div>
  </section>
</main>