<main>
  <div id="home">
  <div id="home-container">
    

    <p>Be the change you wish to see in the world.</p>
    <p> - Mahatma Gandhi</p>
  </div>

  </div>
  <div>
 <section class="homepage-events">
    <h3>Active Events</h3>
    <br>
<div class="about-row">

  {{#each allEvents}}
      {{#ifCond @index "%" 4}}
      </div><div class="about-row about-row-{{@index}}">
    {{/ifCond}}
    <div class="about-column">
            
         <a href="/event/{{_id}}">
         <div class="about-event"> 
          <img class="image" src="/public/images/{{image_url}}"
               alt="{{alt_text}}"
               style="width:100%">
               <p id="event-name">{{event_name}}</h3>
               <p id="city-name">{{location.city}}</h4>
      </div>
        </a>
        </div>
      
  {{/each}}
  <h3 id="ending">No more events to catchup...</h3>
</div>
    </section>
</main>