<main>
  <div id="home">
    <div id="home-container">
      <p>Be the change you wish to see in the world.</p>
      <p> - Mahatma Gandhi</p>
    </div>
  </div>

  <section class="homepage-events">
    <h1 id="popular">Popular Events</h1>

    <div class="row-container">
      <div class="row">
  
        {{#each allEvents}}
      
          <div class="card card-{{@index}}">
            <a class="eventA" href="event/{{_id}}">
            <img
              src="/public/images/{{image_url}}"
              class="image"
              alt="{{alt}}"
            />
            <div class="card-body">
              <h2 class="card-title">
                {{event_name}}</h2>
                 <h3 class="city-name">{{location.city}}</h3>
                <p class="card-text">{{description}}</p>
                <p>{{likes}}&nbsp;<i class="fa fa-heart"></i></p>
                <p><span>Registration Deadline:</span>&nbsp;{{application_deadline}}</p>
            </div>

              </a>

          </div>

        {{else}}
          <p class="empty">No content</p>
        {{/each}}

      </div>
      <div id="sliderControls">
        <button id="pre" class="control-btn" onclick="showPreEvent(event)"></button>
        <button id="next" class="control-btn" onclick="showNextEvent(event)"></button>
      </div>
    </div>
  </section>
</main>
