<main id="yourEvents">
  <div class="participated-event">
    <div class="future">
      <h3>Your Registered Events</h3>
      <div class="row">
        <h4 id ="future-upcoming">Upcoming Events</h4>
        {{#each futureParticipated}}
          {{#if updated}}
            <div class="card border-danger">
              <div class="card-header">Updated</div>
              <a class="card-body eventA" href="event/{{_id}}">
                <h5 class="card-title text-danger">{{event_name}}</h5>
                <p class="card-text text-danger city-name">{{location.address}},
                  {{location.city}},
                  {{location.state}}</p>
                <p class="card-text text-danger"><span>Registration Deadline:</span>&nbsp;{{application_deadline}}</p>
              </a>
            </div>
          {{else}}
            <div class="card">
              <a class="card-body eventA" href="event/{{_id}}">
                <h5 class="card-title">{{event_name}}</h5>
                <p class="card-text city-name">{{location.address}},
                  {{location.city}},
                  {{location.state}}</p>
                <p class="card-text"><span>Registration Deadline:</span>&nbsp;{{application_deadline}}</p>
              </a>
            </div>
          {{/if}}

        {{else}}
          <p class="empty">No upcoming events to show</p>
          <a id="link_to_events" href="/events">Click here to browse events page</a>
        {{/each}}
      </div>
    </div>

    <div class="expired">

      <h3>Participated Events</h3>

      <div class="row">
        {{#each expiredParticipated}}

          <div class="card">
            <a class="eventA" href="event/{{_id}}">
              <h5 class="card-title">{{event_name}}</h5>

              <p class="city-name">{{location.city}}, {{location.state}} </p>
              <p>Event ended on: {{host_time}}</p>
            </a>
          </div>

        {{else}}
          <p class="empty">You haven't participated in any events</p>
          <a id="link_to" href="/events">Click here to browse events page</a>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="hosted-event">
    <div class="future">
      <h3>Your Hosted Events</h3>
      <div class="row">
        <h4>Upcoming Events</h4>
        {{#each futureHost}}
          <div class="card">
            <a class="eventA" href="event/{{_id}}">
              <h5 class="card-title">{{event_name}}</h5>
              <p class="updated_info">{{updated}}</p>
              <p class="city-name">{{location.address}},
                {{location.city}},
                {{location.state}}</p>
              <p><span>Registration Deadline:</span>&nbsp;{{application_deadline}}</p>
            </a>
          </div>

        {{else}}
          <p class="empty">No upcoming events to show</p>
          <a id="link_to_events" href="/events">Click here to browse events page</a>
        {{/each}}
      </div>
    </div>

    <div class="expired">

      <h3>Past organized Events</h3>

      <div class="row">
        {{#each expiredHost}}

          <div class="card">
            <a class="eventA" href="event/{{_id}}">
              <h5 class="card-title">{{event_name}}</h5>

              <p class="city-name">{{location.city}}, {{location.state}} </p>
              <p>Event ended on: {{host_time}}</p>
            </a>
          </div>

        {{else}}
          <p class="empty">You haven't organized any events</p>
          <a id="link_to_events" href="/events">Click here to browse events page</a>
        {{/each}}
      </div>
    </div>
  </div>
</main>